---
import { Card } from "../components";
import "../styles/books.css";

const colorMap = {
  yellow: "#e6ca2f",
  orange: "#E99F20",
  blue: "#227BB3",
  purple: "#912b81",
  darkPurple: "#271B4E",
  grey: "#9E9E9E",
  lighterYellow: "#e3ce63",
};

function getTextColor(backgroundColor: string) {
  // Convert named colors to hex

  // Get hex color
  const hex =
    colorMap[backgroundColor as keyof typeof colorMap] || backgroundColor;

  // Convert hex to RGB
  const r = parseInt(hex.slice(1, 3), 16);
  const g = parseInt(hex.slice(3, 5), 16);
  const b = parseInt(hex.slice(5, 7), 16);

  // Calculate brightness using the YIQ formula
  const brightness = (r * 299 + g * 587 + b * 114) / 1000;

  // Return white for dark colors and black for light colors
  return brightness > 128 ? "#353309" : colorMap.yellow;
}

const books = [
  {
    title: "Kamen",
    description:
      "Ispisuje priču o prijateljstvu koje je na ispitu u svim segmentima priče.Sa svakom pročitanom stranicom knjige utkani su kvaliteti dječaka koji su uspješno položili test zrelosti. Bez obzira na godine malih junaka ova priča može i velike čitatelje poučiti pravim, životnim vrijednostima. Šalje i poruku kako postati i ostati prijatelj.",
    imagePosition: "left",
    color: colorMap.yellow,
    translationKey: "kamen",
  },
  {
    title: "Kaldrma",
    description:
      "U romanu „Kaldrma“ moć prijateljstva se upoznaje kroz likove Damira i Nedima. Knjiga govori o drugarstvu i ljubavi, a sa sobom nosi bitne i velike životne poruke. Ispričana je istinita stvarnost odrastanja koju u svakom momentu nadvladaju ljubav,  snalažljivost i umijeće. “Kaldrma“ je nastavak romana „Kamen“.",
    imagePosition: "right",
    color: colorMap.orange,
    translationKey: "kaldrma",
  },
  {
    title: "Horozgrad",
    description:
      "Ovo su čarobne basne. Ne zato jer su napisane vješto, zanimljivo, duhovito, jezikom koji je lagan i pitak, nego i zato jer ispred svih nas stavljaju ogledalo u kojem se možemo ogledati. I ako smo iskreni vidjeti svoj odraz onakav kakav on zaista jeste. One se bave onim što stručno nazivamo vršnjačkim nasiljem, a što je zapravo tužna stvarnost u kojoj smo naučeni da ljude cijenimo po izgledu, odjeći, novcu koji imaju i nešto još mnogo, mnogo tužnije-da ne želimo da upoznamo drugo i drugačije nego ga odbacujemo, rugamo mu se i uništavamo ga.",
    imagePosition: "left",
    color: colorMap.yellow,
    translationKey: "horozgrad",
  },
  {
    title: "Psi s raskrsnice",
    description:
      "Roman „Psi s raskrsnice“ u potpunosti pokušava da determiniše dugogodišnji problem i sudbine napuštenih pasa te njihovu neizbrisivu vezu sa ljudima. Roman oslikava veličinu običnog čovjeka i uči nas koliko svi možemo biti plemeniti i pružiti ruku spasa i podrške drugima u nevolji. Topla priča o prijateljstvu, humanosti i plemenitosti.",
    imagePosition: "right",
    color: colorMap.blue,
    translationKey: "psiSaRaskrsnice",
  },
  {
    title: "Djetinjstvo jednog vremena",
    description:
      "Životno, savremeno, aktuelno, djeci blisko štivo. Roman ukazuje na problem pronalaženja ravnoteže između virtuelnog i stvarnog života koji je i više nego prisutan u današnjem vremenu i njemu bi se trebala posvetiti posebna pažnja jer se više ni druženje ili šetnje s vršnjacima ne može zamisliti bez mobitela. Ovo je priča o videoigricama. Da li trebamo pustiti nove generacije da žive u svom imaginarnom svijetu avatara ili pak trebamo sprečavati i ograničavati takvo ponašanje?",
    imagePosition: "left",
    color: colorMap.darkPurple,
    translationKey: "djetinjstvoJednogVremena",
  },
  {
    title: "Mačak vegeterijanac & Žaba u štiklama",
    description:
      "Autorica se odlučila da nam kroz formu savremene basne približi probleme s kojima  se svakodnevno susreću djeca školskog uzrasta sa akcentom na prevenciju vršnjačkog nasilja. Basne su bitno i nezaobilazno odgojeno sredstvo jer mogu doprinijeti i razvijanju uvažavanja, poštovanja i tolerancije ali i jačanju samopouzdanja i prihvaćanja svoje osobnosti kao jednako vrijedne.",
    imagePosition: "right",
    color: colorMap.purple,
    translationKey: "macakVegeterijanac",
  },
  {
    title: "Sarajevska priča",
    description:
      "Pripovijest „Sarajevska priča“ ima sve elemente stripa-slikovnice. Čitaoci će se kroz naraciju Brzog i znatiželjna pitanja Sivka i Bijelka upoznati sa skrivenim legendama o Sarajevu i sarajevskim ćuprijama, ali i istinitim pričama koje nose sarajevski mostovi kao svjedočanstva jednog vremena.",
    imagePosition: "left",
    color: colorMap.lighterYellow,
    translationKey: "sarajevskaPrica",
  },
];
---

<section id="books" class="section">
  <div class="section-title">
    <h1>Knjige</h1>
    <i data-lucide="library-big" class="icon"></i>
  </div>
  <span class="mobile-book-msg"
    >(Pritisnite na karticu da je okrenete sa druge strane)</span
  >
  <div class="mobile-book-card-grid">
    {
      books.map((book) => (
        <div
          class={
            book.imagePosition === "left"
              ? "book-card book-card-left"
              : "book-card book-card-right"
          }
          style={`--text-hover-color: ${getTextColor(book.color)};`}
        >
          <Card
            imagePosition={book.imagePosition}
            effectBackgroundColor={book.color}
          >
            <h2
              class={
                book.imagePosition === "left"
                  ? "card-title-left"
                  : "card-title-right"
              }
              slot="header"
            >
              {book.title}
            </h2>
            <div class="card-content" slot="content">
              {book.imagePosition === "left" && (
                <img
                  src="/assets/Elmira-pocetna.jpg"
                  width="300px"
                  class="image-left"
                />
              )}
              <p
                data-translate={`books.${book.translationKey}`}
                class="card-description"
              />
              {book.imagePosition === "right" && (
                <img
                  src="/assets/Elmira-pocetna.jpg"
                  width="300px"
                  class="image-right"
                />
              )}
            </div>

            {/* Mobile card */}
            <div class="mobile-book-card-content" slot="mobile-content">
              <img class="mobile-image" src="/assets/Elmira-pocetna.jpg" />
              <h2 class="mobile-title">{book.title}</h2>
              <i data-lucide="rotate-ccw" class="front-card-icon" />
            </div>
            <div class="mobile-back-content" slot="mobile-back-content">
              <p class="mobile-description">{book.description}</p>
            </div>
          </Card>
        </div>
      ))
    }
  </div>
</section>

<script src="../scripts/bookObserver.js" defer></script>
