---
import { Card } from "../components";
import "../styles/books.css";

const colorMap = {
  yellow: "#e6ca2f",
  orange: "#E99F20",
  blue: "#227BB3",
  purple: "#912b81",
  darkPurple: "#271B4E",
  grey: "#9E9E9E",
  lighterYellow: "#e3ce63",
};

function getTextColor(backgroundColor: string) {
  // Convert named colors to hex

  // Get hex color
  const hex =
    colorMap[backgroundColor as keyof typeof colorMap] || backgroundColor;

  // Convert hex to RGB
  const r = parseInt(hex.slice(1, 3), 16);
  const g = parseInt(hex.slice(3, 5), 16);
  const b = parseInt(hex.slice(5, 7), 16);

  // Calculate brightness using the YIQ formula
  const brightness = (r * 299 + g * 587 + b * 114) / 1000;

  // Return white for dark colors and black for light colors
  return brightness > 128 ? "#353309" : colorMap.yellow;
}

const books = [
  {
    title: "Kamen",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio corrupti, eligendi qui repellat porro repudiandae, rem quos totam itaque maiores accusantium ratione perspiciatis, accusamus hic magnam cupiditate excepturi aut. Sit!",
    imagePosition: "left",
    color: colorMap.yellow,
  },
  {
    title: "Kaldrma",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio corrupti, eligendi qui repellat porro repudiandae, rem quos totam itaque maiores accusantium ratione perspiciatis, accusamus hic magnam cupiditate excepturi aut. Sit!",
    imagePosition: "right",
    color: colorMap.orange,
  },
  {
    title: "Horozgrad",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio corrupti, eligendi qui repellat porro repudiandae, rem quos totam itaque maiores accusantium ratione perspiciatis, accusamus hic magnam cupiditate excepturi aut. Sit!",
    imagePosition: "left",
    color: colorMap.yellow,
  },
  {
    title: "Psi s raskrsnice",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio corrupti, eligendi qui repellat porro repudiandae, rem quos totam itaque maiores accusantium ratione perspiciatis, accusamus hic magnam cupiditate excepturi aut. Sit!",
    imagePosition: "right",
    color: colorMap.blue,
  },
  {
    title: "Djetinjstvo jednog vremena",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio corrupti, eligendi qui repellat porro repudiandae, rem quos totam itaque maiores accusantium ratione perspiciatis, accusamus hic magnam cupiditate excepturi aut. Sit!",
    imagePosition: "left",
    color: colorMap.darkPurple,
  },
  {
    title: "Mačak vegeterijanac & Žaba u štiklama",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio corrupti, eligendi qui repellat porro repudiandae, rem quos totam itaque maiores accusantium ratione perspiciatis, accusamus hic magnam cupiditate excepturi aut. Sit!",
    imagePosition: "right",
    color: colorMap.purple,
  },
  {
    title: "Sarajevska priča",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio corrupti, eligendi qui repellat porro repudiandae, rem quos totam itaque maiores accusantium ratione perspiciatis, accusamus hic magnam cupiditate excepturi aut. Sit!",
    imagePosition: "left",
    color: colorMap.lighterYellow,
  },
];
---

<section id="books" class="section">
  <div class="section-title">
    <h1>Knjige</h1>
    <i data-lucide="library-big" class="icon"></i>
  </div>
  <div class="mobile-book-card-grid">
    {
      books.map((book) => (
        <div
          class={
            book.imagePosition === "left"
              ? "book-card book-card-left"
              : "book-card book-card-right"
          }
          style={`--text-hover-color: ${getTextColor(book.color)};`}
        >
          <Card
            imagePosition={book.imagePosition}
            effectBackgroundColor={book.color}
          >
            <h2
              class={
                book.imagePosition === "left"
                  ? "card-title-left"
                  : "card-title-right"
              }
              slot="header"
            >
              {book.title}
            </h2>
            <div class="card-content" slot="content">
              {book.imagePosition === "left" && (
                <img
                  src="/assets/Elmira-pocetna.jpg"
                  width="300px"
                  class="image-left"
                />
              )}
              <p>{book.description}</p>
              {book.imagePosition === "right" && (
                <img
                  src="/assets/Elmira-pocetna.jpg"
                  width="300px"
                  class="image-right"
                />
              )}
            </div>

            {/* Mobile card */}
            <div class="mobile-book-card-content" slot="mobile-content">
              <img class="mobile-image" src="/assets/Elmira-pocetna.jpg" />
              <h2 class="mobile-title">{book.title}</h2>
            </div>
            <div class="mobile-back-content" slot="mobile-back-content">
              <p class="mobile-description">{book.description}</p>
            </div>
          </Card>
        </div>
      ))
    }
  </div>
</section>

<script src="../scripts/bookObserver.js" defer></script>
